.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header, .cats-header, .random-pet-header, .dogs-header {
  font-family: "Poppins";
  background-color: #EFE2BA;
  height: 150px;
  padding: 20px;
  color: #D79922;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#table-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

#table-container, #table-container td {
    border: 5px dotted #C5CBE3;
}

.thumbnail h5 {
  text-align: left;
}

.navbar-default .navbar-brand, .navbar a {
  color: #4056A1;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
  color: #4056A1;
}

#home {
  font-weight: bold;
  font-size: 20px;
  padding-top: 13px;
  padding-right: 10px;
}

.navbar {
  background-color: #C5CBE3;
}

.cats-header a, .dogs-header a {
  color: #4056A1;
  text-decoration: none;
}

.nav > li > a {
  padding: 15px 5px;
}

.btn-toolbar {
  padding-top: 15px;
  justify-content: center;
  display: flex;
}

.random-pet-btn, .play-again-btn {
  background-color: #405681;
}

.pets {
  padding-top: 15px;
}

.panel {
  border: none;
  box-shadow: none;
}

/* comment below out to have thumbnail border on grid page */
.grid {
  border: none;
}

/*.row {
  border: 1px solid #ddd;
}

.col-md-4 {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}*/

/*#random {
  border: none;
}*/

.thumbnail {
  border-color: #C5CBE3;
}

.thumbnail img {
  padding-top: 5px;
}



